<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Catégories
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        {% for category in categories %}
            <a class="dropdown-item" href="#">{{ category.name }}</a>
        {% endfor %}
    </div>
</li>
