{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Liste des lieux{% endblock %}

{% block body %}
    <h1>Liste des lieux</h1>

    <a href="{{ path('app_place_new') }}" class="btn btn-primary">Ajouter</a>

    <hr>

    <section class="row">
        {% for place in places %}
            <article class="col-md-4 mb-3">
                {% include 'place/_card.html.twig' with { 'place': place } only %}
            </article>
        {% endfor %}
    </section>

{% endblock %}
