{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Ajouter un lieu{% endblock %}

{% block body %}
    <h1>Ajouter un lieu</h1>

    {{ include('place/_form.html.twig') }}

{% endblock %}
